h1 {
  margin: 0;
  text-align: center;
}

.big-heading {
  font-family: Verdana;
  color: #c0f5f3;
}

.section-heading {
  /* Add your own font here */
  font-family: 'Times New Roman', Times, serif;
  margin: 50px 0px;
  color: #d6e1e0;
  
}

.nav__list {
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
  /* text-align: center; */
  list-style-position: inside;
}

/* Add padding bewteen nav__list_item-items */
.nav__list_item {
  font-family: 'Didot', serif;
  font-size: 15px;
  color: #d6e1e0;
  letter-spacing: 1px;
  margin: 20px 10px;
}

.page {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  /* height: 100%; */
  /* width: 100%; */
  /* text-align: center; */
  /* background-color: rgba(10, 46, 47); */
}

.page__header {
  background-color: rgb(10, 46, 47);

}
.page__content {
  background-color: rgb(10, 46, 47);
  display: flex;
  flex-flow: row wrap;
}

.left-content {
  background-color: rgba(10, 46, 47);
  /* flex-basis: 5%; */
  display: flex;
  flex-direction: column;
  align-self:flex-end;
  padding-left: 40px;
}

.right-content {
  font-family: 'Bradley Hand', cursive;
  background-color: rgba(10, 46, 47);
  /* flex-basis: 5%; */
  align-self:flex-end;
  writing-mode: vertical-rl;
  color: #d6e1e0;
  /* border: solid 1px #88d084; */
}

/* Scroll moving function */
.main-content {
  /* flex-basis: 90%; */
  margin: 0px;
  /* padding: 0px; */
  display: block;
  /* width: 80%; */
  /* height: 0px; */
  border: 1px solid #88d084;
  border-radius: 5px;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

/* I will touch it for Responsive Web */
/* Scroll moving function */
.main-content__section {
  background-color: rgba(10, 46, 47);
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

/* Add new line below here */
/* logo and nav__list position */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* logo position */
.logo {
  /* align-self: flex-start; */
}

/* Logo Setting */
.linked__logo {
  padding: 10px;
  font-size: 32px;
}

.page > * {
  padding: 10px;
  flex: 1 100%;
}

.page__content > * {
  padding: 10px;
  flex: 1 100%;
  /* height: 100%; */
}

/* icon setting */
.linked__icon {
  padding: 10px;
  font-size: 28px;
  
}

/* left icon color */
i {
  color: rgb(11, 130, 149);
}

/* go to top nevigator */
.go_top {
  text-align: center;
}

/* Name and Simple describe */
#intro {
  margin: 300px 0px 0px 0px;
}

/* Get in Touch Button Setting */
#button {
  text-decoration: none;
  border: solid 1px rgb(101, 246, 176);
  padding: 9px;
  border-radius: 5px;
  color: #88d084;
}

#button_position {
  text-align: center;
  margin: 150px 0px 150px 0px;
}

#small-heading {
  color: #d6dbe1;
}

p {
  margin: 50px 0px;
  /* margin: 40% 0%; */
  /* margin: 300px 0px 0px 0px; */
  color: #d6dbe1;
}

@media all and (min-width: 767px) {
  .both-content { flex: 1 0 0; }
  
}

/* Tablet PC Vertical */
/* @media (min-width: 768px) and (max-width: 991px) {
  .main-content    { flex: 3 0px; }
  .left-content { order: 0; } 
  .main-content { order: 1; }
  .right-content { order: 2; }
} */
/* Tablet PC Horizontal */
/* @media (min-width: 992px) and (max-width: 1199px) {
  .main-content    { flex: 3 0px; }
  .left-content { order: 0; } 
  .main-content { order: 1; }
  .right-content { order: 2; }
} */

@media all and (min-width: 768px) {
  .main-content { flex: 3 0px; }
  .left-content { order: 0; } 
  .main-content { order: 1; }
  .right-content { order: 2; }
}
