h1 {
  margin: 0;
  /* text-align: center; */
}

.big-heading {
  font-family: Verdana;
  color: #c0f5f3;
  text-align: center;
}

.section-heading {
  /* Add your own font here */
  font-family: 'Times New Roman', Times, serif;
  margin: 50px 0px;
  /* color: #d6e1e0; */
}

.nav__list {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  list-style-position: inside;
}

.nav__list_item {
  font-family: 'Didot', serif;
  font-size: 15px;
  /* color: #d6e1e0; */
  letter-spacing: 1px;
  margin: 20px 10px;
  /* text-decoration: none; */
}

.page {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  font-weight: bold;
}

.page__header {
  background-color: aqua;
  /* background-color: rgb(10, 46, 47); */
  width: 100%;
  height: 10%;
}
.page__content {
  background-color: rgb(10, 46, 47);
  display: flex;
  flex: 1;
  width: 100%;
  height: 90%;
}

.left-content {
  background-color: burlywood;
  /* background-color: rgba(10, 46, 47); */
  display: flex;
  /* flex: none; */
  width: 5%;
  flex-direction: column;
  align-self: flex-end;
  justify-content: space-evenly;
  margin: 1% 0px;
  /* letter-spacing: 3px; */
  /* padding-left: 0px; */
  /* align-self: flex-end; */
}

.right-content {
  background-color: burlywood;
  font-family: 'Bradley Hand', cursive;
  /* background-color: rgba(10, 46, 47); */
  display: flex;
  flex: none;
  width: 5%;
  writing-mode: vertical-rl;
  flex-direction: column;
  align-self: flex-end;
  justify-content: space-evenly;
  margin: 1% 0px;
  letter-spacing: 3px;
  /* color: #d6e1e0; */
}

/* Scroll Moving Function */
.main-content {
  /* display: flex; */
  display: block;
  /* flex: 1; */
  overflow: auto;
  width: 90%;
  border: 1px solid #88d084;
  border-radius: 5px;
  overflow: auto;
  scroll-snap-type: y mandatory;
  /* margin: 0px; */
  /* flex-wrap: wrap; */
  /* margin: 0px 0px 10px 0px; */
  /* padding: 0px 0px 10px 0px; */
  /* flex-direction: column; */
  flex-direction: column;
}

/* Scroll Moving Function */
.main-content__section {
  background-color: cornsilk;
  /* background-color: rgba(10, 46, 47); */
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

/* Add new line below here */
/* Make to fit any screen size */
html, body {
  height: 100%;
}

/* Logo and nav__list position */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Logo Setting */
.linked__logo {
  padding: 10px;
  font-size: 55px;
}

/* icon setting */
.linked__icon {
  padding: 10px;
  font-size: 28px;
  margin-left: 10%;
  margin-right: 40px;
}

/* Icons color */
i {
  color: rgb(11, 130, 149);
}

/* go to top nevigator */
.go_top {
  text-align: center;
}

.go_top > * {
  font-size: 20px;
}

/* Remove underline in the nav */
a {
  text-decoration: none;
  /* color: #d6e1e0; */
}

/* Get in Touch Button Setting */
#button {
  text-decoration: none;
  border: solid 1px rgb(101, 246, 176);
  padding: 9px;
  border-radius: 5px;
  color: #88d084;
}

#button_position {
  text-align: center;
  margin: 150px 0px 150px 0px;
}

#small-heading {
  color: #d6dbe1;
}

p {
  margin: 5% 7%;
  /* padding: 5% 0px; */
  color: #d6dbe1;
}

/* Show  */
.page__content > * {
  padding: 10px;
}

/* Name and Simple describe */
#intro {
  margin: 300px 0px 0px 0px;
}

h2 {
  text-align: center;
}

span {
  font-style: italic;
}

#about {
  display: flex;
  flex-direction: column;
}

#experience {
  display: flex;
  flex-direction: column;
}

/* @media all and (min-width: 767px) {
  .both-content { flex: 1 0 0; }
  
} */

/* @media all and (min-width: 768px) {
  .main-content { flex: 3 0px; }
  .left-content { order: 0; } 
  .main-content { order: 1; }
  .right-content { order: 2; }
} */

/* 1024px height * 768px width computer */
/* less than 767px width smartphone or tablet PC*/